<div class="col-12 text-center my-5 py-5">
    <div class="DNA_cont">
        <div class="nucleobase"></div>
        <div class="nucleobase"></div>
        <div class="nucleobase"></div>
        <div class="nucleobase"></div>
        <div class="nucleobase"></div>
        <div class="nucleobase"></div>
        <div class="nucleobase"></div>
        <div class="nucleobase"></div>
        <div class="nucleobase"></div>
        <div class="nucleobase"></div>
    </div>
</div>